body{
  background-color: lightgrey;
  padding-top: 1rem;
  padding-bottom: 2rem;

}
.chart{
  background-color: whitesmoke;
  padding: 1rem;
}

.barDiv{
  padding: 1rem;
}

.barLevel{
  height: 3rem;
  background-color: skyblue;
  width: 5rem;

}

.settings{
  display: grid;
}

